<div id="{{include.albumname}}">

    {%- for image in site.static_files -%}
    {%- if image.path contains 'images/gallery' and image.path contains include.albumname -%}
    {%- unless image.path contains 'thumbnails' -%}

    {%- comment -%} Step 1: Generate a unique ID for this item's caption element {%- endcomment -%}
    {%- assign caption_id = "caption-" | append: forloop.index -%}

    {%- comment -%} Step 2: Get the filename without the extension {%- endcomment -%}
    {%- assign filename_base = image.name | remove: image.extname -%}

    {%- comment -%} Step 3: Set the caption based on the filename {%- endcomment -%}
    {%- if filename_base | downcase | starts_with: 'img' -%}
      {%- assign caption_text = "" -%}
    {%- else -%}
      {%- assign caption_text = filename_base | replace: '-', ' ' -%}
    {%- endif -%}

    {%- comment -%}
      The data-sub-html now points to the ID of the hidden div.
      This is the most reliable method.
    {%- endcomment -%}
    <a href="{{ image.path }}" data-sub-html="#{{ caption_id }}">
        <img src="/thumbnails{{ image.path }}" />

        {%- comment -%} This hidden div holds the actual caption markup {%- endcomment -%}
        <div id="{{ caption_id }}" style="display:none;">
            {{ caption_text }}
        </div>
    </a>

    {%- endunless -%}
    {%- endif -%}
    {%- endfor -%}

</div>
<script type="text/javascript">
    lightGallery(document.getElementById("{{include.albumname}}"));
</script>
