<div id="{{ include.albumname | slugify }}" class="lightgallery-album">

    {%- assign details_filename = include.albumname | append: '_details' -%}
    {%- assign captions_data = site.data.galleries[details_filename] -%}

    {%- for image in site.static_files -%}
    {%- if image.path contains include.albumname and image.path contains 'images/gallery' -%}
    {%- unless image.path contains 'thumbnails' -%}

    {%- assign image_details = captions_data | where: 'filename', image.name | first -%}

    {%- if image_details and image_details.caption != "" -%}
      {%- assign caption_text = image_details.caption -%}
    {%- else -%}
      {%- assign caption_text = "&nbsp;" -%} {# Use a non-breaking space for empty captions #}
    {%- endif -%}

    <a href="{{ image.path | relative_url }}" data-sub-html="{{ caption_text | escape }}">
        <img src="/thumbnails{{ image.path | relative_url }}" loading="lazy" />
    </a>

    {%- endunless -%}
    {%- endif -%}
    {%- endfor -%}
</div>
