---
layout: default
description: Default template for pages and posts, with contained width.
---

{{ content }}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        const galleries = document.querySelectorAll('.lightgallery-album');

        galleries.forEach(gallery => {
            lightGallery(gallery, {
                // Add lgCaptions to this array
                plugins: [lgZoom, lgThumbnail, lgCaptions],
                speed: 500,
                selector: 'a'
            });
        });
    });
</script>